<div class="database" style="background-color:#ddd;">
    <h2>Database</h2>
    <div class="labels">
        <ul class ="label-list">
            <li class ="label name">Name</li>
            <li class ="label">Type</li>
            <li class ="label">Rarity</li>
            <li class ="label">Element</li>
            <li class ="label">Ammo</li>
            <li class ="label">Season</li>
        </ul>
    </div>
    <main class="item-container">
        
        {{#each itemContainer}}
            {{> item}}
        {{/each}}
    
    </main>
</div>