<article class="loadout">
    <div class="loadout-content">
        <p class="kinetic-tag">
            {{kinetic}}
        </p>
        <p class="energy-tag">
            {{energy}}
        </p>
        <p class="heavy-tag">
            {{heavy}}
        </p>
    </div>
</article>