body {
  font-family: Lato;
  margin: 0;
  background-color: #eee;
  height: 100%;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.site-title {
  margin: 0;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: 100;
  background-color: #1E2233;
  color: #fff;
  border-bottom: 3px solid black;
}

.row {
  display: flex;
}

.menu {
  flex: 20%;
  padding: 15px 0;
}

.menu h2 {
  padding-left: 8px;
}

.database {
  flex: 80%;
  padding: 15px;
}

#search-input {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
}

#search-input:focus{
  border: 1px solid rgb(158, 158, 158);
}

#links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#links li a {
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block
}

#links li a:hover {
  background-color: #eee;
}

.item-container{
  margin: 10px;
}

.item-container, .labels{
  display: flex;
  flex-wrap: wrap;
  background-color: #1E2233;
  max-height: 800px;
  overflow: auto;
}

.labels{
  margin-left: 10px;
}

.label-list {
  margin-left: 50px;
  list-style-type: none;
  display: inline-flex;
}

.label {
  padding-right: 80px;
  color: white;
  display: inline-flex;
}

.item {
  flex: 1 1 100%;
  border: 1px solid lightgrey;
  overflow: auto;
}

.item-image {
  width: 50px;
  margin: 0;
  padding: 0 20px 0 0;
}

.item-content {
  display: flex;
  margin: 0;
  padding: 0; 
}

.item-holder {
  display: inline-flex;
  text-align: center;
  color: white;
  width: 85px;
}

.name {
  margin-right: 50px;
}

.type, .rarity, .element, .ammo, .season {
  margin-left: 50px;
}

.expanded-content {
  display: none;
  flex-wrap: wrap;
  overflow: hidden;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown p{
  font-size: 16px;
  font-weight: 600;
  padding-left: 10px;
}
/*
.menu-button {
  background-color: #1E2233;
  color: white;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
  size: 20px;
}
*/

.dropdown-options {
  background-color: lightgray;
  cursor: pointer;
  padding: 10px;
  display: block;
}

.error-page {
  width: 100%;
  padding: 12px;
}

.perk-label, .flavor-text, .perks1-content, .perks2-content{
  color: white;
  padding-left: 10px;
}

.flavor-text {
  font-style: italic;
}

.open-loadouts {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 30px;
  font-size: 10px;
  background-color: #1E2233;
  color: white;
  cursor: pointer;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

.open-loadouts:hover {
  right: 27px;
  bottom: 27px;
  height: 66px;
  width: 66px;
  font-size: 12px;
  border-radius: 33px;
}

#modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.60);
}

#modal{
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1010;
  width: 600px;
  height: 368px;
  margin-top: -150px;
  margin-left: -334px;
  background-color: #1E2233;
}

.kinetic-input, #kinetic, .energy-input, #energy, .heavy-input, #heavy {
  margin: 20px;
  padding: 4px;
  background-color: lightgray;
  font-size: 20px;
}

.cancel-button {
  padding: 10px;
}

.accept-button {
  float: right;
  padding: 10px;
}

.loadout-container{
  display: flex;
  flex-wrap: wrap;
  background-color: #1E2233;
  max-height: 800px;
  overflow: auto;
}

.loadouts {
  flex: 80%;
}

.loadouts h2 {
  padding-left: 20px;
}

.loadout {
  color: white;
  padding-left: 40px;
}










